{% extends "atcore/app_users/modify_resource.html" %}
{% load static tethys_gizmos %}

{% block app_content %}
  <div class="row">
    <div class="col-md-12">
      <h1>{% if editing %}Edit{% else %}New{% endif %} {{ health_structure_type_spanish }}</h1>
      <form id="new-resource-form" method="post" action="" {% if show_file_upload_field %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        <input type="hidden" id="health_structure_type" name="health_structure_type" value="{{ health_structure_type_spanish }}">
        <div class="row">
          <div class="col-md-6">
            {# NAME FIELD #}
            {% gizmo resource_name_input %}

            {# DESCRIPTION FIELD #}
            <div class="form-group" id="resource-description-group">
              <label for="resource-description">Description</label>
              <textarea id="resource-description"
                        name="resource-description"
                        class="form-control"
                        rows=5
                        style="width: 100%;">{{ resource_description }}</textarea>
            </div>

            {# ORGANIZATIONS FIELD #}
            {% gizmo organization_select %}

            {# SPATIAL REFERENCE FIELD #}
            {% if show_srid_field %}
              {% gizmo spatial_reference_select %}
            {% endif %}
            {{ resource_srid_error }}
            {# DAMS AND RESERVOIRS SECTION #}
            {% if show_hydraulic_dam %}

                {# DAMS AND RESERVOIRS PURPOSES #}
                {% if hydraulic_dam_purposes %}
                {% gizmo hydraulic_dam_purposes %}
                {% endif %}

                {# DAMS AND RESERVOIRS PURPOSES #}
                {% if hydraulic_dam_year %}
                {% gizmo hydraulic_dam_year %}
                {% endif %}
                
                {# DAMS AND RESERVOIRS PURPOSES #}
                {% if hydraulic_dam_height %}
                {% gizmo hydraulic_dam_height %}
                {% endif %}
                
                {# DAMS AND RESERVOIRS PURPOSES #}
                {% if hydraulic_dam_volume %}
                {% gizmo hydraulic_dam_volume %}
                {% endif %}            
            {% endif %}

            {# Well#}
            {% if show_well %}
              {% gizmo well_year %}
            {% endif %}

            {# pipe_line #}
            {% if show_pipe_line %}
              {% gizmo pipe_line_year %}
            {% endif %}

            {# main storage_tank #}
            {% if show_storage_tank %}
              {% gizmo storage_tank_year %}
            {% endif %}

            {# gravity pipe line #}
            {% if show_gravity_pipe_line %}
              {% gizmo gravity_pipe_line_year %}
            {% endif %}
            
            {# Distribution Network #}
            {% if show_distribution_network %}
              {% gizmo distribution_network_year %}
            {% endif %}
            
            {# Water Treatment Plan #}
            {% if show_water_treatment_plan %}
              {% gizmo water_treatment_plan_year %}
            {% endif %}
            
            {# Sewage Treatment Plan #}
            {% if show_sewage_treatment_plan %}
              {% gizmo sewage_treatment_plan_year %}
            {% endif %}
            
            {# Sanitary Sewers #}
            {% if show_sanitary_sewer %}
              {% gizmo sanitary_sewer_year %}
            {% endif %}

            {# Storm Sewers #}
            {% if show_storm_sewer %}
              {% gizmo storm_sewer_year %}
            {% endif %}

            {% block custom_app_content %}
            {% endblock %}

            {# FILE UPLOAD FIELD #}
            {% if show_file_upload_field %}
            <div class="form-group {% if file_upload_error %}has-error{% endif %}" id="input-file-upload-wrapper">
              <label class="control-label" for="input-file-upload">{{ file_upload_label }}</label>
              <div class="input-file-wrapper">
                <input id="input-file-upload"
                       class="file-input"
                       name="input-file-upload"
                       type="file"
                       accept="{{ file_upload_accept }}"
                       {% if file_upload_multiple %}multiple{% endif %}>
                <label for="input-file-upload" class="btn btn-default btn-file-input">Browse</label>
              </div>
              <span class="help-block">{{ file_upload_error }}</span>
            </div>
            {% endif %}
            {{ file_upload_error }}

            <a class="btn btn-default" href="{% url next_controller %}">Cancel</a>
            <input type="submit"
                   class="btn btn-success"
                   name="modify-resource-submit"
                   value="{% if editing %}Save Changes{% else %}Create {{ type_singular }}{% endif %}">
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
