{% extends "tethys_apps/app_base.html" %}

{% load static %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}
{% block app_navigation_items %}
  {% url 'hydraulic_structures:home' as home_url %}
  {% url 'hydraulic_structures:project_areas_manage_resources' as manage_resource_url %}
  {% url 'hydraulic_structures:hydraulic_infrastructures_manage_resources' as manage_hydraulic_infrastructures_resource_url %}
  {% url 'hydraulic_structures:health_infrastructures_manage_resources' as manage_health_infrastructures_resource_url %}
  {% url 'hydraulic_structures:app_users_manage_users' as manage_users_url %}
  {% url 'hydraulic_structures:app_users_manage_organizations' as manage_organizations_url %}
  {% url 'hydraulic_structures:app_users_user_account' as user_account_url %}

  <li {% if request.path == home_url %}class="active"{% endif %}><a href="{{ home_url }}">Mapa</a></li>
  {% if show_resources_link %}
    <li {% if request.path == manage_resource_url %}class="active"{% endif %}><a href="{{ manage_resource_url }}">Áreas de División</a></li>
    <li {% if request.path == manage_hydraulic_infrastructures_resource_url %}class="active"{% endif %}><a href="{{ manage_hydraulic_infrastructures_resource_url }}">Estructuras Hidráulicas</a></li>
    <li {% if request.path == manage_health_infrastructures_resource_url %}class="active"{% endif %}><a href="{{ manage_health_infrastructures_resource_url }}">Estructuras Sanitarias</a></li>
{% endif %}
  {% if show_users_link %}
    <li {% if request.path == manage_users_url %}class="active"{% endif %}><a href="{{ manage_users_url }}">Usuarios</a></li>
  {% endif %}
  {% if show_organizations_link %}
    <li {% if request.path == manage_organizations_url %}class="active"{% endif %}><a href="{{ manage_organizations_url }}">Organizaciones</a></li>
  {% endif %}
  <li {% if request.path == user_account_url %}class="active"{% endif %}><a href="{{ user_account_url }}">Mi Cuenta</a></li>
{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'hydraulic_structures/css/main.css' %}" rel="stylesheet"/>
  <link href="{% static 'atcore/css/breadcrumbs.css' %}" rel="stylesheet"/>
  <link href="{% static 'atcore/css/flat_nav.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'hydraulic_structures/js/main.js' %}" type="text/javascript"></script>
{% endblock %}